{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    
<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
		<div class="col-md-9 ftco-animate pb-0 text-center">
			<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home-page' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span>Dashboard <i class="fa fa-chevron-right"></i></span></p>
		  <h1 class="mb-3 bread">Dashboard</h1>
		</div>
	  </div>
	</div>
  </section>

  <!-- alerts -->
	
</section>
<section style="padding-top: 20px;" >
	{%include '_alerts.html' %}
</section>


<section class="ftco-section">
	<div class="container">
	  <div class="row justify-content-center">
		<div class="col-md-12 heading-section text-center ftco-animate mb-5">
			<span class="subheading">Dashboard</span>
		  <h2 class="mb-2"> Welcome Username</h2>
		</div>
	  </div>
	  </div>
	</section>





<section class="ftco-section">
	<div class="container">
	  <div class="row justify-content-center">
		<div class="col-md-12 heading-section text-center ftco-animate mb-5">
			<table class="table">
				<thead>
				  <tr>
					<th scope="col">ID</th>
					<th scope="col">Property Name</th>
				
					<th scope="col">View Property</th>
				  </tr>
				</thead>

					{% if contacts %}
					{% for contact in contacts %}
					<tbody>
					<tr>
						<th scope="row">{{contact.id}}</th>
						<td>{{contact.property_name}}</td>
			
						<td>    <p><a href="{% url 'property' contact.property_id %}" class="btn btn-primary py-3 px-4">View Property</a></p></td>
					</tr>					
					</tbody>
					{% endfor %}

			{% else %}
			<h1>You have not made any enquiries</h1>
					{% endif %}
           </table>
		</div>
	  </div>
	  </div>
	</section>


	



 

	


	{% endblock %}