

{% extends 'base.html' %}
{% load humanize %}
{% block title %}
Search More
{% endblock %}

{% block content %}
    
    <section class="hero-wrap" style="background-image: url('/static/images/bg_1.jpg');" data-stellar-background-ratio="0.5"> 
      <div class="overlay"></div>
      
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt search-bg">
    	<div class="container">
	    	<div class="row">
					<div class="col-md-12">
						<div class="search-wrap-1 ftco-animate p-4">


							

					<form action="{% url 'property-search' %}" class="search-property-1">
		        		<div class="row">
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Keyword</label>
		          				<div class="form-field">
		          					<div class="icon"><span class="fa fa-search"></span></div>
				                <input type="text" class="form-control" value="{{values.keywords}}"  name="keywords" placeholder="Enter Keyword">
				              </div>
			              </div>
							</div>
							
							<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">City</label>
		          				<div class="form-field">
		          					<div class="icon"><span class="fa fa-search"></span></div>
				                <input type="text" value="{{values.city}}" class="form-control"  name="city" placeholder="Enter City name">
				              </div>
			              </div>
		        			</div>
		        				    
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Price Range</label>
		        					<div class="form-field" style="color:black " >
		          					<div class="select-wrap">
		                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		                      <select name="price" id="type"   class="form-control"  >
								  {% for key,value in prices.items %}
								
								<option value="{{ key }}"
								{% if key == values.price %}
								selected
								{% endif %}
								>{{ value }}</option>
								{% endfor %}
		                        
		                      </select>
		                    </div>
				              </div>
			              </div>
							</div>
							<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">State</label>
		        					<div class="form-field">
		          					<div class="select-wrap">
		                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		                      <select name="" id=""  name="state" class="form-control">
								{% for key,value in states.items %}
								
								<option value="{{ key }}"

								{% if key == values.state %}
								selected
								{% endif %}
								>{{ value }}</option>
								{% endfor %}
							
								<option value=""></option>
							
		                        
		                      </select>
		                    </div>
				              </div>
			              </div>
		        			</div>

		        			<div class="col-lg align-self-end">
		        				<div class="form-group">
		        					<div class="form-field">
				                <input type="submit" value="Search" class="form-control btn btn-primary">
				              </div>
			              </div>
		        			</div>
		        		</div>
					</form>
					
					
		        </div>
					</div>
	    	</div>
	    </div>
    </section>

   

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          	<span class="subheading">Search Results</span>
            <h2 class="mb-2">Searched Properties</h2>
          </div>
		</div>
		
        <div class="row">
			{% if properties %}
			{% for property in properties %}
			
			<div class="col-md-6 col-lg-4 mb-4">
        		<div class="property-wrap ftco-animate">
        			<a href="{% url 'property' property.id %}" class="img" style="background-image: url('{{ property.photo.url }}');">
        				<div class="rent-sale">
							{% if property.is_forSale %}
        					<span class="sale">
								 Sale
								</span>
								{% else %}
								<span class="rent">
									Rent
									</span>

								{% endif %}

							
							
        				</div>
        				<p class="price"><span class="orig-price">${{ property.price | intcomma }}</span></p>
        			</a>
        			<div class="text">
        				<ul class="property_list">
        					<li><span class="flaticon-bed"></span>{{ property.bedrooms }}</li>
        					<li><span class="flaticon-bathtub"></span>{{ property.bathrooms }}</li>
        					<li><span class="flaticon-floor-plan"></span>{{ property.areaSqft }} sqft</li>
        				</ul>
        				<h3><a href="#">{{ property.title }}</a></h3>
        				<span class="location">{{ property.state }}</span>
        				<a href="#" class="d-flex align-items-center justify-content-center btn-custom">
        					<span class="fa fa-link"></span>
        				</a>
        				<div class="list-team d-flex align-items-center mt-2 pt-2 border-top">
        					<div class="d-flex align-items-center">
	        					<div class="img"  style="background-image: url('{{ property.seller.photo.url }}');"></div>
	        					<h3 class="ml-2">{{ property.seller}}</h3>
	        				</div>
	        				<span class="text-right">{{ property.property_date|date:"D d M Y"  }} </span>
        				</div>
        			</div>
        		</div>
			</div>
			
			{% endfor %}
			

			{% else %}
			<div class="col-md-12" >No properties</div>
			{% endif %}
             	
        	
		</div>
		
        </div>
	  </div>
	  
    </section>

    

    

    


    	


	{% endblock %}



	%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

	<!-- {% extends 'base.html' %}
{% load humanize %}


{% block title %}
Featured Properties 
{% endblock %}
{% block content %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home-page' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span class="active" >Properties <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">Property</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
    	<div class="container">
	    	<div class="row">
					<div class="col-md-12">
						<div class="search-wrap-1 ftco-animate p-4">
							<form action="#" class="search-property-1">
		        		<div class="row">
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Keyword</label>
		          				<div class="form-field">
		          					<div class="icon"><span class="fa fa-search"></span></div>
				                <input type="text" class="form-control" placeholder="Enter Keyword">
				              </div>
			              </div>
		        			</div>
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Property Type</label>
		        					<div class="form-field">
		          					<div class="select-wrap">
		                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		                      <select name="" id="" class="form-control">
		                        <option value="">Residence</option>
		                        <option value="">Offices</option>
		                        <option value="">Commercial</option>
		                      </select>
		                    </div>
				              </div>
			              </div>
		        			</div>
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Location</label>
		          				<div class="form-field">
		          					<div class="icon"><span class="fa fa-search"></span></div>
				                <input type="text" class="form-control" placeholder="Location">
				              </div>
			              </div>
		        			</div>
		        			<div class="col-lg align-items-end">
		        				<div class="form-group">
		        					<label for="#">Price Limit</label>
		        					<div class="form-field">
		          					<div class="select-wrap">
		                      <div class="icon"><span class="fa fa-chevron-down"></span></div>
		                      <select name="" id="" class="form-control">
		                        <option value="">$5,000</option>
		                        <option value="">$10,000</option>
		                        <option value="">$50,000</option>
		                        <option value="">$100,000</option>
		                        <option value="">$200,000</option>
		                        <option value="">$300,000</option>
		                        <option value="">$400,000</option>
		                        <option value="">$500,000</option>
		                        <option value="">$600,000</option>
		                        <option value="">$700,000</option>
		                        <option value="">$800,000</option>
		                        <option value="">$900,000</option>
		                        <option value="">$1,000,000</option>
		                        <option value="">$2,000,000</option>
		                      </select>
		                    </div>
				              </div>
			              </div>
		        			</div>
		        			<div class="col-lg align-self-end">
		        				<div class="form-group">
		        					<div class="form-field">
				                <input type="submit" value="Search" class="form-control btn btn-primary">
				              </div>
			              </div>
		        			</div>
		        		</div>
		        	</form>
		        </div>
					</div>
	    	</div>
	    </div>
    </section>

    <section class="ftco-section goto-here">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          	<span class="subheading">What we offer</span>
            <h2 class="mb-2">Properties</h2>
          </div>
        </div>
        <div class="row">
			{% if properties %}
			{% for property in properties %}
			<div class="col-md-6 col-lg-4 mb-4">
        		<div class="property-wrap ftco-animate">
        			<a href="{% url 'property' property.id %}" class="img" style="background-image: url('{{ property.photo.url }}');">
        				<div class="rent-sale">
							{% if property.is_forSale %}
        					<span class="sale">
								 Sale
								</span>
								{% else %}
								<span class="rent">
									Rent
									</span>

								{% endif %}

							
							
        				</div>
        				<p class="price"><span class="orig-price">${{ property.price | intcomma }}</span></p>
        			</a>
        			<div class="text">
        				<ul class="property_list">
        					<li><span class="flaticon-bed"></span>{{ property.bedrooms }}</li>
        					<li><span class="flaticon-bathtub"></span>{{ property.bathrooms }}</li>
        					<li><span class="flaticon-floor-plan"></span>{{ property.areaSqft }} sqft</li>
        				</ul>
        				<h3><a href="#">{{ property.title }}</a></h3>
        				<span class="location">{{ property.state }}</span>
        				<a href="#" class="d-flex align-items-center justify-content-center btn-custom">
        					<span class="fa fa-link"></span>
        				</a>
        				<div class="list-team d-flex align-items-center mt-2 pt-2 border-top">
        					<div class="d-flex align-items-center">
	        					<div class="img"  style="background-image: url('{{ property.seller.photo.url }}');"></div>
	        					<h3 class="ml-2">{{ property.seller}}</h3>
	        				</div>
	        				<span class="text-right">{{ property.property_date|date:"D d M Y"  }} </span>
        				</div>
        			</div>
        		</div>
        	</div>
			{% endfor %}
			

			{% else %}
			<div class="col-md-12" >No properties</div>
			{% endif %}

			
             	
        	
		</div>

		<div class="row" style="align: center;" >
			<div class="col-md-12">
			  {% if properties.has_other_pages %}
				<ul class="pagination">
				  {% if properties.has_previous %}
					<li class="page-item">
					  <a href="?page={{properties.previous_page_number}}" class="page-link">&laquo;</a>
					</li>
				  {% else %}
					<li class="page-item disabled">
					  <a class="page-link">&laquo;</a>
					</li>
				  {% endif %}
				  {% for i in properties.paginator.page_range %}
					{% if properties.number == i %}
					  <li class="page-item active">
						<a class="page-link">{{i}}</a>
					  </li>
					{% else %}
					  <li class="page-item">
						<a href="?page={{i}}" class="page-link">{{i}}</a>
					  </li>
					{% endif %}
				  {% endfor %}
				  {% if properties.has_next %}
					<li class="page-item">
					  <a href="?page={{properties.next_page_number}}" class="page-link">&raquo;</a>
					</li>
				  {% else %}
					<li class="page-item disabled">
					  <a class="page-link">&raquo;</a>
					</li>
				  {% endif %}
				</ul>
			  {% endif %}
			</div>
		  </div>
		</div>
	
    	
    </section>
{% endblock %} -->